body{
    background-color: black;
    color: white;
}

/* #container {
    background-color: black;
    color: white;
} */

.cart-container{
    display: flex;
    flex-wrap: wrap;
   gap: 10px;
   width: 70%;
   /* padding: 10px; */
}

.box{
    height: 130px;
    width: 250px;
    background-color:grey;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.name {
    position: absolute;
    bottom: 2px;
    left: 10px;
    padding:3px;
}


.cart-container .image{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.image{
    border-radius: 50%;
    object-fit: cover;
}

aside {
    margin-left: 10px;
}

#aside-container{
    height: 90%;
    width: 27%;
    background-color: white;
    color: black;
    position: fixed;
    right: 10px;
    top:20px;
    border-radius: 10px;
}

.add-people{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 5%;
    width: 40%;
    background-color: cadetblue;
}

#search-people{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 4%;
    border-radius: 8px;
    margin-left: 10px;
}

.contributors-name{
    height: 65%;
    border:1px solid black ;
    padding: 12px;
}

.people{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}



#message-sidebar {
    height: 90%;
    width: 27%;
    background-color: #fff;
    color: black;
    position: fixed;
    right: 10px;
    top: 20px;
    border-radius: 10px;
    display: none; 
}

#msg-aside-container {
    padding: 10px;
}

.messages{
    padding: 12px;
}

.in-call-msg{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.msg-para{
    border: 1px solid black;
    padding: 12px;
    margin-top: 12px;
}

.name-time-msg{
    border: 1px solid black;
    padding: 10px;
    margin-top: 12px;
    
}

.name-time span{
    border: 1px solid black;
    padding: 4px;
}

.msg-in-call{
    border: 1px solid black;
    padding: 4px;
    margin-top: 15px;
}

#input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 12px;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: white;
}

.popup{
    height: 100px;
    width: 150px;
    background-color: turquoise;
    color: black;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    position: fixed;
    right: 400px;
    top: 200px;
    border: 10px;
    display: none;
}

.popup-to-add-people{
    display: flex;
}

#footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.footer2, 
.footer3 {
    display: flex;
    gap: 12px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}


.circle{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
}